<div class="bwm-list-page">
  <h1 class="title">Your home all around the World!</h1>
  <div class="row">
    <div
    class="col-md-3 col-xs-6"
    *ngFor="let rental of rentals">
      <bwm-rental-card
        [rentalItem]=rental
      >
      </bwm-rental-card>
      <div *bwmNgIf="rental.category === 'house'">
        <h1>I am a house</h1>
      </div>
      <!-- not working with ng-template -->
      <!--<ng-template [bwmNgIf]="rental.category === 'house'">
        <h1>I am a house</h1>
      </ng-template>-->
    </div>
  </div>
</div>
